@using System.Linq;
            @using StankinsInterfaces;
            @model Tuple<object,StankinsInterfaces.IRow[]>
@{
IRow parent =Model.Item1 as IRow;
int idRow=1;
}
            <h1> databases for server @parent.Values["Name"] ;

<table border='1' id='databases'>
<tr><th>Nr</th><th>Name</th></tr>

@foreach(var database in Model.Item2){
var pathId=database.Values["PathID"];

    <tr id='database_@pathId'>
<td>@(idRow++)</td>
    <td>
        @database.Values["Name"]<a href='javascript:toggle("@string.Format("tablesfor_{0}",pathId)")'>Tables</a>
        <table style='display:none' id='tablesfor_@pathId'>
            <tr>
            <td>
            @{ 
            var item= database as IRowReceiveRelation;            
            var child= new Tuple<object,StankinsInterfaces.IRow[]>(item,item.Relations["tables"].ToArray());Html.RenderPartial("tables.cshtml",child); 
            }
            </td>
            <tr>
        </table>
    </td>
    </tr>
}
</table>

