@using System.Linq;
@using StankinsInterfaces;
@model StankinsInterfaces.IRow[]

Number Rows: @Model.Length
@{
	bool showTable=(Model.Length>0);
	if(!showTable){
		return;
    };
	var FieldNames= Model[0]
                .Values
                .Select(it => it.Key).ToArray();
}
<table>
<thead>
<tr>
<td>ID</td>
@foreach(var col in FieldNames){

<td>
@col
</td>

}
<td>Parent</td>
</thead>

<tbody>
@foreach(var item in Model){
    var m=item as IRowReceiveHierarchicalParent;

<tr>
<td>@m.ID</td>
@foreach(var col in FieldNames){
<td>
    @if (item.Values.ContainsKey(col)){ 
        <text>@item.Values[col]</text>
    }
</td>
}
<td>
@if(m.Parent != null){
    <text>@m.Parent.ID</text>
}
</td>
</tr>

}
<tbody>
</table>