################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stankinsv2/solution/DBReceiveSqlServer/bin/Debug/netstandard2.0
/stankinsv2/solution/DBReceiveSqlServer/obj/Debug/netstandard2.0
/stankinsv2/solution/DBReceiveSqlServer/obj/Release/netstandard2.0
/stankinsv2/solution/DBReceiveSqlServer/obj/project.assets.json
/stankinsv2/solution/DBReceiveSqlServer/obj/DBReceiveSqlServer.csproj.nuget.g.targets
/stankinsv2/solution/DBReceiveSqlServer/obj/DBReceiveSqlServer.csproj.nuget.g.props
/stankinsv2/solution/DBReceiveSqlServer/obj/DBReceiveSqlServer.csproj.nuget.cache
/stankinsv2/solution/ReceiverDatabase/bin/Debug/netstandard2.0
/stankinsv2/solution/ReceiverDatabase/obj/Debug/netstandard2.0
/stankinsv2/solution/ReceiverDatabase/obj/Release/netstandard2.0
/stankinsv2/solution/ReceiverDatabase/obj/ReceiverDatabase.csproj.nuget.g.targets
/stankinsv2/solution/ReceiverDatabase/obj/ReceiverDatabase.csproj.nuget.g.props
/stankinsv2/solution/ReceiverDatabase/obj/ReceiverDatabase.csproj.nuget.cache
/stankinsv2/solution/ReceiverDatabase/obj/project.assets.json
/stankinsv2/solution/ReceiverFile
/stankinsv2/solution/ReceiverHTML
/stankinsv2/solution/ReceiverOpenAPI/obj
/stankinsv2/solution/SenderConsole
/stankinsv2/solution/StankinsCommon
/stankinsv2/solution/StankinsOffice/obj
/stankinsv2/solution/StankinsV2Interfaces
/stankinsv2/solution/StankinsV2Objects
/stankinsv2/solution/StankinsVariousConsoleDemo/bin/Debug/netcoreapp2.1
/stankinsv2/solution/StankinsVariousConsoleDemo/obj
/stankinsv2/solution/TransformerGrouping
/stankinsv2/solution/StankinsOffice/bin/Debug/netstandard2.0
/stankinsv2/solution/ReceiverOpenAPI/bin/Debug/netstandard2.0
/stankinsv2/solution/.vs/StankinsV2
