################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stankinsv2/solution/DBReceiveSqlServer/bin/Debug/netstandard2.0
