<p>
  Display items with tag {{id}} : {{DisplayResults?.length}}
</p>
<div *ngFor='let item of DisplayResults'>
    <mat-card>
        <mat-card-title>
            <mat-icon *ngIf="item.aliveResult.isSuccess" color="primary">done</mat-icon>
            <mat-icon *ngIf="!item.aliveResult.isSuccess" color="primary">error</mat-icon>
            {{ item.customData.name }}
        </mat-card-title>
        <mat-card-subtitle>
            Last update :{{ item.aliveResult.startedDate.toLocaleString() }} 
        </mat-card-subtitle>
        <mat-card-content>
           <div>To: {{ item.aliveResult.to }}</div>
           <div>Duration : {{item.aliveResult.duration}} ms</div>
           <div *ngIf="item.aliveResult.isSuccess" >DetailedResult: {{ item.aliveResult.detailedResult }}</div>
           <div *ngIf="!item.aliveResult.isSuccess" >Exception : {{item.aliveResult.exception }}</div>
        </mat-card-content>
        <mat-card-footer> Tags:
        <span *ngFor="let tag of item.customData.tags"> 
         <a routerLink='/tag/{{tag}}'>   
         {{ tag }}</a>; </span></mat-card-footer>
      </mat-card>
</div>
