<p>
  GitHub: <a href='https://github.com/ignatandrei/stankins'>https://github.com/ignatandrei/stankins</a>
</p>
<p>
  Material icons list:
  <a href='https://material.io/tools/icons/?style=baseline'>https://material.io/tools/icons/?style=baseline</a>
</p>
<p>Live demo: <a href="https://azurestankins.azurewebsites.net" target="_blank" >https://azurestankins.azurewebsites.net</a></p>

<a href='https://azurestankins.azurewebsites.net/swagger'>Live swagger</a>


<h1> Current settings</h1>

<dsh-dashboard-simple></dsh-dashboard-simple>

<vers-versions-netcore-angular></vers-versions-netcore-angular>
