<p>List of recipes {{ numberRecipes }} </p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Try beer or exchange"
      value=""
      [formControl]="searchRecipe"
    />
  </mat-form-field>
</form>
<div *ngIf="findRecipes?.length > 0">
  Found {{ findRecipes?.length }} recipes with  {{ searchRecipe.value }} 
  <span *ngIf="searchRecipe.value?.length>0" >
 ( <a [routerLink]="['/recipeList']" [queryParams]="{id:searchRecipe.value}"> Direct search link </a> )
</span>
  <div *ngFor="let recipe of findRecipes; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ i + 1 }} <a routerLink="/recipe/{{recipe.name}}" >{{ recipe.name }}</a> </mat-card-title>
        <mat-card-subtitle> {{recipe.description}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          {{ recipe.content }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button  *ngIf="recipe.CanExecuteDirectly()" routerLink="/recipe/{{recipe.name}}" >
            Execute</button>
        <button mat-button *ngIf="!recipe.CanExecuteDirectly()" > <a routerLink="/recipe/{{recipe.name}}" >
          Modify and share</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
