.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-viewport {
    height: 200px;
    width: 500px;
    
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
  