<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HtmlGenerator</title>

    
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/css/hopscotch/css/hopscotch.min.css"  />

    
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">HtmlGenerator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - BlocklyHtmlGenerator</p>
        </footer>
    </div>

    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/stamatStringify.js"></script>
        <script src="~/js/blockly/blockly_compressed.js"></script>
        <script src="~/js/blockly/blocks_compressed.js"></script>
        <script src="~/js/blockly/javascript_compressed.js"></script>
        <script src="~/js/blockly/msg/js/en.js"></script>
        <script src='~/js/stankinsblocks/simplejob.js'></script>


        <script src='~/js/stankinsblocks/ReceiverWholeTable_block.js'></script>
        <script src='~/js/stankinsblocks/ReceiverWholeTable_code.js'></script>


        <script src='~/js/stankinsblocks/TransformRowMergeFields_block.js'></script>
        <script src='~/js/stankinsblocks/TransformRowMergeFields_code.js'></script>

        <script src='~/js/stankinsblocks/Sender_CSV_block.js'></script>
        <script src='~/js/stankinsblocks/Sender_CSV_code.js'></script>

        <script src='~/js/stankinsblocks/TransformerFieldStringToDate_block.js'></script>
        <script src='~/js/stankinsblocks/TransformerFieldStringToDate_code.js'></script>

        <script src='~/js/stankinsblocks/TransformerFieldStringInt_block.js'></script>
        <script src='~/js/stankinsblocks/TransformerFieldStringInt_code.js'></script>

        <script src='~/js/stankinsblocks/ReceiverHTMLTable_block.js'></script>
        <script src='~/js/stankinsblocks/ReceiverHTMLTable_code.js'></script>
        
    <script src='~/js/stankinsblocks/ReceiverCSVWholeFile_block.js'></script>
    <script src='~/js/stankinsblocks/ReceiverCSVWholeFile_code.js'></script>

        <script src='~/js/stankinsblocks/FilterExistValue_block.js'></script>
        <script src='~/js/stankinsblocks/FilterExistValue_code.js'></script>
        
        <script src='~/js/stankinsblocks/FilterRemainItemsForValue_block.js'></script>
        <script src='~/js/stankinsblocks/FilterRemainItemsForValue_code.js'></script>

    <script src='~/js/stankinsblocks/TransformRowRemoveField_block.js'></script>
    <script src='~/js/stankinsblocks/TransformRowRemoveField_code.js'></script>

    <script src='~/js/stankinsblocks/TransformKeyValue_block.js'></script>
    <script src='~/js/stankinsblocks/TransformKeyValue_code.js'></script>
    
    <script src='~/js/stankinsblocks/TransformAddNewField_block.js'></script>
    <script src='~/js/stankinsblocks/TransformAddNewField_code.js'></script>

    <script src='~/js/stankinsblocks/ReceiverHTMLXPath_block.js'></script>
    <script src='~/js/stankinsblocks/ReceiverHTMLXPath_code.js'></script>

        @*<script src='~/js/stankinsblocks/FilterComparable_block.js'></script>
        <script src='~/js/stankinsblocks/FilterComparable_code.js'></script>
            *@

        <script src="~/js/hopscotch/js/hopscotch.min.js"></script>  
        <script src="~/js/demo.js"></script>  
   
    
    @RenderSection("Scripts", required: false)
</body>
</html>
