Monitored items: {{ results.size }} ( {{ OK?.length }} ok / {{ Failed?.length }} failed)

<mat-tab-group>
  <mat-tab label="">
    <ng-template mat-tab-label>
      <mat-icon color="primary">done</mat-icon>
      Success: {{ OK?.length }}
    </ng-template>
    <mat-accordion>
      <ng-template ngFor let-ok [ngForOf]="OK" let-i="index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >{{ i + 1 }}) {{ ok.customData.name }}
            </mat-panel-title>
            <mat-panel-description>
              Last update :{{ ok.aliveResult.startedDate.toLocaleString() }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-show-item [item]="ok"></app-show-item>
        </mat-expansion-panel>
      </ng-template>
    </mat-accordion>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>error</mat-icon>
      Failed: {{ Failed?.length }}
    </ng-template>
    <mat-accordion>
      <ng-template ngFor let-ok [ngForOf]="Failed" let-i="index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ i + 1 }} {{ ok.customData.name }}
            </mat-panel-title>
            <mat-panel-description>
              Last update :{{ ok.aliveResult.startedDate.toLocaleString() }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-show-item [item]="ok"></app-show-item>
        </mat-expansion-panel>
      </ng-template>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
